.person-info {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*background-color: #f9f9f9;*/
}

.form-control{
    background-color: #ccc;
}
/*
#contact form {
    display: flex;
    flex-direction: column;
}
  
#contact label {
    font-weight: bold;
    margin-bottom: 5px;
}
  
#contact input,
#contact select,
#contact textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
  
#contact textarea {
    resize: vertical;
}

#contact p {
    display: flex;
    align-items: center;
}
  
#contact input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

#contact input[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
    width: 20%;
}
  
#contact input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 5px;
    width: 60%;
}
  
/* Optional: Style für Fehlermeldung anzeigen 
#contact input:invalid,
#contact textarea:invalid,
#contact select:invalid {
    border: 1px solid #ff0000;
}
*/