/* src/components/Footer/Footer.css */

.footer-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 14px;
}

/*
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a:hover {
    color: #ffcc00;
}

.facebook-icon {
    font-size: 24px;
    margin-top: 10px;
}
*/
