/* Container für das Bild mit Rahmen und Schatten */
.image-container {
    border: 5px solid #fff; /* Weißer Rahmen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leichte Schatten */
    overflow: hidden; /* Verhindert, dass Schatten aus dem Container hervortreten */
}
  
/* Optionale Styles für die Caption */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
    padding: 20px;
    border-radius: 10px; /* Runde Ecken */
    color: #fff; /* Weiße Textfarbe */
}
