/* src/components/Body/Section1.css */
#lunch section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#lunch h2 {
    color: #333;
}

#lunch p {
    color: #000;
}
  
#lunch ul {
    list-style-type: none;
    padding: 0;
}
  
#lunch li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

#lunch a {
    color: #000;
}

#lunch a:hover {
    color: #1b1a1a;
}

#lunch button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#lunch button:hover {
    background-color: #45a049;
}

/*
.dish-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.dish-info {
    flex: 1;
}
  
.dish-image {
    margin-left: 20px;
}
*/
  